In [44]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
import sys
import os

In [45]:
!pwd

/Users/bhavi/Documents/Projects/CristianoRonaldo

In [46]:
df = pd.read_csv("/Users/bhavi/Documents/Projects/CristianoRonaldo/Cristano_Ronaldo_Final_v1/data.csv")

In [47]:
# pd.scatter_matrix(df[['match_event_id', 'remaining_min', 'knockout_match_1','remaining_min_1']], alpha=0.6, figsize=(10, 10), diagonal='kde')
# plt.show()
df.describe()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,remaining_sec,distance_of_shot,is_goal,shot_id_number,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
count,30697.000000,29134.000000,29236.000000,29157.000000,29135.000000,29211.000000,29180.000000,29103.000000,29130.000000,24429.000000,29134.000000,3.069700e+04,3.069700e+04,29162.000000,29158.000000,29204.000000,29158.000000,29129.000000
mean,15348.000000,249.576028,7.383876,91.126933,4.883233,2.519359,0.145956,28.329382,33.448884,0.445331,15368.581039,2.476407e+07,1.610613e+09,18.204615,15.994109,16.599402,39.027303,38.801852
std,8861.604943,150.186019,110.263049,87.676395,3.452533,1.153976,0.353068,17.470663,9.369656,0.497013,8866.520772,7.755175e+06,0.000000e+00,29.416973,29.676815,35.172016,29.835284,18.787711
min,0.000000,2.000000,-250.000000,-44.000000,0.000000,1.000000,0.000000,0.000000,20.000000,0.000000,1.000000,2.000001e+07,1.610613e+09,0.000000,1.000000,0.000000,0.000000,9.400000
25%,7674.000000,111.000000,-68.000000,4.000000,2.000000,1.000000,0.000000,13.000000,25.000000,0.000000,7693.250000,2.050008e+07,1.610613e+09,3.000000,2.000000,0.000000,17.000000,26.000000
50%,15348.000000,254.000000,0.000000,74.000000,5.000000,3.000000,0.000000,28.000000,35.000000,0.000000,15378.500000,2.090035e+07,1.610613e+09,6.000000,3.000000,0.000000,35.000000,36.000000
75%,23022.000000,369.000000,95.000000,160.000000,8.000000,3.000000,0.000000,43.000000,41.000000,1.000000,23055.750000,2.960047e+07,1.610613e+09,11.000000,4.000000,1.000000,52.000000,44.000000
max,30696.000000,659.000000,248.000000,791.000000,11.000000,7.000000,1.000000,59.000000,99.000000,1.000000,30697.000000,4.990009e+07,1.610613e+09,128.761600,118.360000,141.352320,144.785600,115.728000

In [48]:
submission = df[df.is_goal.isnull()]
# test_data['shot_id_number'].shape,test_data.index.shape
submission = submission.copy()
submission.loc[:, 'shot_id_number'] = submission.index + 1

In [49]:
submission[['shot_id_number']].head()

# test_data.tocsv("TestSet.csv",index=False)

    shot_id_number
0                1
7                8
16              17
19              20
21              22

In [50]:
df = df.rename(columns={'distance_of_shot.1': 'distance_of_shot_1', \
                        'remaining_min.1':'remaining_min_1', \
                        'power_of_shot.1':'power_of_shot_1', \
                        'knockout_match.1' : 'knockout_match_1', \
                        'remaining_sec.1' : 'remaining_sec_1'})

df[df.match_id.isnull()].shape

(0, 28)

In [51]:
data = df[df.is_goal.notnull()]
df.shape, data.shape, submission.shape

((30697, 28), (24429, 28), (6268, 28))

In [52]:
data[data.location_x.isnull()].shape, data[data.location_y.isnull()].shape, data[data.distance_of_shot.isnull()].shape, data[data.range_of_shot.isnull()].shape

((1156, 28), (1245, 28), (1257, 28), (1248, 28))

In [53]:
# data = df

In [54]:
for col in data.columns:
    print (f"'{col}'", end=',')

'Unnamed: 0','match_event_id','location_x','location_y','remaining_min','power_of_shot','knockout_match','game_season','remaining_sec','distance_of_shot','is_goal','area_of_shot','shot_basics','range_of_shot','team_name','date_of_game','home/away','shot_id_number','lat/lng','type_of_shot','type_of_combined_shot','match_id','team_id','remaining_min_1','power_of_shot_1','knockout_match_1','remaining_sec_1','distance_of_shot_1',

In [55]:
X_cols = ['location_x','location_y','remaining_min','power_of_shot'\
         ,'knockout_match','game_season','remaining_sec','distance_of_shot'\
         ,'area_of_shot','shot_basics','range_of_shot','date_of_game'\
          ,'home/away','shot_id_number','lat/lng','type_of_shot','type_of_combined_shot'\
          ,'match_id','team_id','remaining_min.1','power_of_shot.1','knockout_match.1'\
          ,'remaining_sec.1','distance_of_shot_1']

<h1>Handling Missing Data</h1>

<h3>Distance Parameters</h3>
<ol>
<li>location_x</li>
<li>location_y</li>
<li>distance_of_shot</li>
<li>area_of_shot</li>
<li>shot_basics</li>
<li>range_of_shot</li>
</ol>

In [56]:
# # data['distance_of_shot'].fillna(data['distance_of_shot.1'])
# data.distance_of_shot.fillna(value = data.distance_of_shot_1)
data[data.distance_of_shot.isnull()].shape

(1257, 28)

In [59]:
data['distance_of_shot'] = data.apply(
    lambda row: row['distance_of_shot_1'] if np.isnan(row['distance_of_shot']) and (row['distance_of_shot_1']).is_integer() else row['distance_of_shot'],
    axis=1
)

/Users/bhavi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [60]:
data[data.distance_of_shot.isnull()].shape

(299, 28)

In [15]:
def findArea(x):
    if type(x) == float and np.isnan(x):
        return x
    else:
        return x.split('(')[1].split(')')[0]

data["area_of_shot"] = data["area_of_shot"].apply(findArea)

/Users/bhavi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [16]:
data[data.area_of_shot.isnull()].shape

(1182, 28)

In [17]:
def processLowerRangeOfShot(row):
    range_of_shot = str(row['range_of_shot'])
    try:
        if "Less Than" in range_of_shot:
            return 0, 8
        elif "+" in range_of_shot:
            return 24, 32
        else:
            low = range_of_shot.split('-')[0]
            high = range_of_shot.split('-')[1][0:2]
            return low, high
    except Exception as e:
        return float('NaN'), float('NaN')
    
    

# data['lower_range'] = data.apply(processRangeOfShot, axis=1)
data['lower_range'], data['upper_range'] = zip(*data.apply(processLowerRangeOfShot, axis=1))

/Users/bhavi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
# data[['range_of_shot','lower_range', 'upper_range']]

In [19]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

sub = data[data.location_x.notnull()]
sub = sub[sub.location_y.notnull()][sub.distance_of_shot.notnull()][sub.lower_range.notnull()][sub.upper_range.notnull()]
X_train = sub[['location_y', 'distance_of_shot', 'lower_range', 'upper_range']]
y_train = sub[['location_x']]

sub = data[data.location_x.isnull()]
sub = sub[sub.location_y.notnull()][sub.distance_of_shot.notnull()][sub.lower_range.notnull()][sub.upper_range.notnull()]
X_test = sub[['location_y', 'distance_of_shot', 'lower_range', 'upper_range']]

from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

linreg.fit(X_train, y_train)

predicted = linreg.predict(X_test)

print (data[data.location_x.isnull()].shape, predicted.shape)

print (predicted.mean(), data[data.location_x.notnull()]['location_x'].mean())

data.loc[data.location_x.isnull() & \
         data.location_y.notnull() & \
        data.distance_of_shot.notnull() & \
        data.lower_range.notnull() & \
        data.upper_range.notnull(), 'location_x'] = predicted 

print (data[data.location_x.isnull()].shape)
data = data.drop(data[data.location_x.isnull()].index)
print (data[data.location_x.isnull()].shape)

(1156, 30) (1025, 1)
7.175145074434061 7.4941778026038754
(131, 30)
(0, 30)

/Users/bhavi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
/Users/bhavi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # Remove the CWD from sys.path while we load stuff.
/Users/bhavi/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [20]:
# from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

sub = data[data.location_y.notnull()]
sub = sub[sub.location_x.notnull()][sub.distance_of_shot.notnull()][sub.lower_range.notnull()][sub.upper_range.notnull()]
X_train = sub[['location_x', 'distance_of_shot', 'lower_range', 'upper_range']]
y_train = sub[['location_y']]

print (X_train.shape, y_train.shape)

sub = data[data.location_y.isnull()]
sub = sub[sub.location_x.notnull()][sub.distance_of_shot.notnull()][sub.lower_range.notnull()][sub.upper_range.notnull()]
X_test = sub[['location_x', 'distance_of_shot', 'lower_range', 'upper_range']]

# from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

linreg.fit(X_train, y_train)

predicted = linreg.predict(X_test)

print (data[data.location_y.isnull()].shape, predicted.shape)

print (predicted.mean(), data[data.location_y.notnull()]['location_y'].mean())

data.loc[data.location_y.isnull() & \
         data.location_x.notnull() & \
        data.distance_of_shot.notnull() & \
        data.lower_range.notnull() & \
        data.upper_range.notnull(), 'location_y'] = predicted 

print (data[data.location_y.isnull()].shape)
data = data.drop(data[data.location_y.isnull()].index)
print (data[data.location_y.isnull()].shape)

/Users/bhavi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

(21876, 4) (21876, 1)
(1182, 30) (1106, 1)
90.22201030964915 91.32566187921786
(76, 30)
(0, 30)

/Users/bhavi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

In [21]:
# from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

sub = data[data.remaining_min.notnull()]
sub = sub[sub.match_event_id.notnull()]
X_train = sub[['match_event_id']]
y_train = sub[['remaining_min']]

print (X_train.shape, y_train.shape)

sub = data[data.remaining_min.isnull()]
sub = sub[sub.match_event_id.notnull()]
X_test = sub[['match_event_id']]

# from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

linreg.fit(X_train, y_train)

predicted = linreg.predict(X_test)

print (data[data.remaining_min.isnull()].shape, predicted.shape)

print (predicted.mean(), data[data.remaining_min.notnull()]['remaining_min'].mean())

data.loc[data.remaining_min.isnull() & data.match_event_id.notnull(), 'remaining_min'] = predicted 

print (data[data.remaining_min.isnull()].shape)
data = data.drop(data[data.remaining_min.isnull()].index)
print (data[data.remaining_min.isnull()].shape)

(21816, 1) (21816, 1)
(1238, 30) (1179, 1)
4.9091731778536785 4.888400626522799
(59, 30)
(0, 30)

In [33]:
def fillKnockoutMatches(row):
    if row.name >= 26198:
        return 1
    else:
        return 0

data['knockout_match'] = data.apply(fillKnockoutMatches, axis=1)